<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="utf-8"/>
      <title>SCGL</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
      <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
      <script src="js/Login.js"></script>
      <link rel="stylesheet" type="text/css" href="css/style.css">
   </head>
   <body>
      <h1>Usuário inativo, favor entrar em contato com o administrador!</h1>
      <img src="images\teste.png" center>
      <button type="submit" class="btn btn-success" id="btnPesquisarFisio" onclick="location.href='http://www.pornhub.com/'" style="position:absolute; top:50%; left:70%;">Voltar ao Login!</button>
      <button type="submit" class="btn btn-success" id="btnPesquisarFisio" onclick="location.href='/logout'" style="position:absolute; top:60%; left:70%;">Efetuar logout!</button>
   </body>
</html>